
<div class="flex flex-column w-full h-full shadow border-round-xl p-4">
    <i class="flex flex-none pi text-700" [ngClass]="feature.icon" style="font-size: 2rem"></i>
    <h2 class="flex flex-none text-xl">{{ feature.name }}</h2>
    
    <p class="flex flex-grow-1 text-800" style="word-break: break-all;">{{ feature.description }}</p>
    <div class=" flex flex-none h-1rem"></div>
    <div class="flex flex-none w-full justify-content-center">
        <p-button class="flex button" label="Acceder" ></p-button>
    </div>
</div>